<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Required at runtime on Android 13+ (API 33) for any notification to post at all;
         requested from DashboardActivity - see NotificationHelper/NotificationPermissionHelper. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>

    <application
        android:name=".VelocitySuitesApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VelocitySuites">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites.Introduction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites.Introduction" />

        <activity
            android:name=".LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites.Auth" />

        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites.Auth" />

        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".RoomBrowsingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".RoomGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".BookingAndReservationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".BookingDetailsActivity"
            android:parentActivityName=".BookingAndReservationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".PaymentReceiptActivity"
            android:parentActivityName=".BookingDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".BookingWizardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".StartingTransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".RequestAmenityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".BillingSummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".TransactionHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".TransactionDetailsActivity"
            android:parentActivityName=".TransactionHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".TransactionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".NotificationDetailsActivity"
            android:parentActivityName=".NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".ProfileManagementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".UpcomingTransactionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />

        <activity
            android:name=".CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VelocitySuites" />
    </application>

</manifest>

